/* Main */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    padding-bottom: 60px;
    max-width: 700px;
    margin: 0 auto;
}

.container {
    width: 100%;
    margin: 0 auto;
    border: #BEE3DB 1px solid;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    background: #BEE3DB;
    z-index: 999;
    border-bottom: #8f8f8f 5px solid;
}

.hero {
    width: 100%;
}

.logo {
    height: 4rem;
    width: 4rem;
    margin-left: 1rem;
    cursor: pointer;
}

.hamburger {
    height: 3rem;
    width: 4rem;
    margin-right: 1rem;
    cursor: pointer;
}

/* Product Card 1 */

.product-card {
    margin-bottom: 1rem;
}

.product-image {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

.product-info {
    padding-left: 1rem;
}

.product-location {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.product-model {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.product-date {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.product-price {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

/* Navigation */

.nav-icon {
    width: 100px;
}

.classIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.classIcons span {
    font-weight: 900;
    
}

.icon-bar {
    width: 100%;
    overflow: auto;
    margin: 0 auto;
  }
  
.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 25%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    border-bottom: #BEE3DB 5px solid;
  }
  
.icon-bar a:hover {
    background-color: #BEE3DB;
    border-bottom: orange 5px solid;
  }
  
.active {
    background-color: #04AA6D; /* Add an active/current color */
  }


/* Screen 1 Class A - */

#screen-1 {
    background: none;
    margin: 3%;
   }

#screen-1 .product-description {
    padding-top: 20px;
}

   /* .hero = product img */
#screen-1 .hero {
    width: 100%;
    margin: auto;
    border-radius: 30px;
}

#screen-1 h3 { /* Product Location */
    font-weight: 800;
    
}

#screen-1 .product-description h3 {
    text-decoration: underline;
}

#screen-1 p { /* Product Description/Location */
    padding-top: 15px;
    padding-bottom: 20px;
    
}

#screen-1 h4 { /* Product Reviews */
    font-weight: 400;
    font-size: 15px;
    padding-top: 5px;
}

#screen-1 button { /* Book Now - Button */
    font-size: 20px;
    display: block;
    background-color: #3A7582;
    border-radius: 10px;
    color: white;
    border: none;
    width: 80%;
    height: 50px;
    margin: auto;
    box-shadow: 5px, 5px, 9px black;
}

#screen-1 button:hover {
    background-color:#BEE3DB;
    color: black;
    border-style: solid;
    border: 2px, solid;
    border-color: #3A7582
}


/* Screen 2 */

#screen-2 {
    background: none;
}

/* Screen 3 */

#screen-3 {
    background: none;
}

/* Footer Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 60px;
    padding: 0 5rem;
    width: 90%;
    max-width: 700px;
    border-top: #BEE3DB 5px solid;
    border-left: #BEE3DB 1px solid;
    border-right: #BEE3DB 1px solid;
    border-bottom: #BEE3DB 1px solid;
    background-color: white;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;
}

.nav-item-button:hover {
    border-bottom: orange 5px solid;
}

.search-icon {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.map-icon {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.about-icon {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}